@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
    Branco 
    Preto
*/

/* Typical Device Breakpoints
-------------------------------
Pequenas tela: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
-------------------------------
*/

/* Mobile */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    width: 300px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.386);
    overflow: hidden;
}

section{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

div#imagem{
    width: 100%;
    height: 250px;
    background-image: url('../imagens/pexels-padrao-1.jpg');
    background-size: cover;
    
}

div#login{
    height: 350px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    
}

div#login > h1{
    text-align: center;
    margin-bottom: 5px;
}

div#login > p{
    font-size: 0.9em;
    margin: 10px 0px 30px 0px;
}

form{
    width: 100%;
}

form > div.cadastro{
    width: 100%;
    background-color: #5f2c82;
    margin: 7px 0px; 
    border-radius: 8px;
}

form > div.cadastro > label{
    display: none;
}

form > div.cadastro > span{
    /* background-color: black; */
    color: white;
    width: 40px;
    padding: 9px;
    text-align: center;
    font-size: 1.5em;
}

form > div.cadastro > input.campo{
    background-color: #5fcfcb;
    border: 4px solid #5fcfcb;
    
    padding: 7px;
    border-radius: 8px;
    height: 100%;
    width: 190px;
    width: calc(100% -45px);
    transform: translate(-1%, -13%);
}

form > input[type = submit]{
    background-color: #5fcfcb;
    border: 1px solid #5fcfcb;
    color: white;
    font-size: 1em;
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 100%;
    cursor: pointer;
    padding: 11px;
    margin: 30px 0px 10px 0px;
}

form > input[type = submit]:hover{
    background-color: white;
    color: #5fcfcb;
    font-size: 1.1em;
    font-weight: bold;
}

form > .botao{
    background-color: #5fcfcb;
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 8px;
    display: block;
    padding: 9px;
    text-align: center;
    border: 1px solid #5fcfcb;

}

form > .botao:hover{
    background-color: white;
    color: #5fcfcb;
    font-size: 1.1em;
    font-weight: bold;
}

/* Esse seletor configura o tamanho do span do botão "Esqueci a senha"  */
form > a > span#botao_link{
    font-size: 1em;
}

/* Falta arredondar as bordas do mobile */