@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@700 & family= Sriracha & family= Work+Sans:ital,wght@0,100;0,200;0,300; 0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');


*{
    margin: 0px;
    padding: 0px;
}
:root{
    --fonte-destaque:'Passion One', cursive;
    --fonte-texto: 'Sriracha', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: white;
}

header{
    padding: 15px;
    background-color: black;
    max-height: 400px;
    min-height: 200px;
    color: white;
}

.cabecalho{
    text-align: center;
    
}

h1.cabecalho{
    font-size: 5em;
    font-family: var(--fonte-destaque);
    padding-top: 25px;
    font-weight: bolder;

}

p.cabecalho{
    font-family: var(--fonte-padrao);
    padding-top: 15px;
}

a.cabecalho{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
article{
    
    font-family: var(--fonte-texto);
    font-size: 1.5em;
    font-weight: bolder;
    
}
.normal{
    padding: 30px;
    line-height: 3em;
    padding-top: 3em;
    padding-bottom: 3em;

}
.imagem1{
    max-height: 1000px;
    min-height: 500px;
    padding: 30px;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: lightgrey;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

.imagem2{
    max-height: 1000px;
    min-height: 500px;
    padding: 30px;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: lightgrey;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;

}

#img1{
    background-color: rgba(0, 0, 0, 0.39);
    max-width: 350px;
    min-width: 250px;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2px;
}

#img2{
    background-color: rgba(0, 0, 0, 0.39);
    max-width: 350px;
    min-width: 250px;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2px;
}

p.caixa{
    color: white;
    line-height: 3em;
    text-align: justify;
}

footer{
    background-color: black;
    height: 35px;
}
footer>p{
    color: white;
    padding: 5px;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

