@charset "UTF-8";
@font-face {
    font-family: 'dream';
    src: url('fonte/DREAMS.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'abster';
    src: url('fonte/ABSTER.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'beckman';
    src: url('fonte/beckman-free.otf') format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-1: 'dream', sans-serif;
    --fonte-2: 'abster', sans-serif; /*Não vou usar nesse exercício*/
    --fonte-3: 'beckman', sans-serif; /*Não vou usar nesse exercício*/
    --fonte-4: 'Roboto Flex', sans-serif;
}

/*Apagar esse seletor no final*/
h2#apagar{
    color: yellow;
    text-align: center;
}

body{
    background-color: lightgray;
    text-align: justify;
 
}

header{
    background-image: linear-gradient(to bottom, black, darkblue, black);
    color: white;
    max-height: 450px;
    min-height: 350px;
    width: 100vw;
}
header > h1{
    font-family: var(--fonte-1);
    font-size: 1em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
header > p{
    font-family: var(--fonte-4);
    text-align: center;
    padding: 8px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
    font-size: 1.2em;
}


